extends layout

block content
  h1= title
  p Greetings, earthing! Welcome to #{title}
  ul I like Cheese!
   li Parmesian
   li Cheddar
   li Mozerella
   li Swiss
  p here is some cheese:
  a(href='http://www.cheese.com') cheese
